@import '../commons/common-css-rules.scss';

.book-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  .action-btn {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      background-color: transparent;
      border: none;
      color: #4386bf;
      font-size: 0.8rem;
      display: flex;
      padding: 0.25rem;
      align-items: center;
      gap: 0.25rem;
      font-weight: 300;
      cursor: pointer;
      transition: $transition;

      &:hover {
        background: rgb(236, 230, 230);
        color: #116f75;
      }
    }

    .separator {
      width: 0.1rem;
      height: 1.5rem;
      background-color: #d8cece;
      margin: 0 0.5rem;
    }
  }

  .progress {
    display: flex;
    align-items: center;

    .progress-bar {
      width: 5.6rem;
      height: 5.6rem;
      padding: 0.63rem 0.62rem 0.75rem 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @include sm {
        width: 4rem;
        padding: 0;
      }
    }

    .progress-description {
      p {
        color: #121212;
      }

      .percent-complete {
        font-size: 2rem;
      }
    }

    .progress-divider {
      width: 0.2rem;
      height: 4.3em;
      margin: 0 3.6rem 0 4.9rem;
      background-color: #e8e8e8;

      @include sm {
        display: none;
      }
    }

    .chapter-container {
      display: flex;
      flex-direction: column;
      grid-gap: 20px;
      gap: 20px;
      width: 14rem;

      p {
        font-size: 1rem;
        opacity: 0.5;
      }

      h4 {
        margin-top: 0.4rem;
        font-size: 1.2rem;
        letter-spacing: 0.4px;
        transition: $transition;

        &:hover {
          opacity: 0.7;
        }
      }

      .btn-submit {
        width: fit-content;
        padding: 0.55rem 1rem;
        background: #3498db;
        outline: none;
        border: 0.3px solid #3498db;
        cursor: pointer;
      }

      @include sm {
        justify-content: center;
      }
    }

    @include sm {
      gap: 1.2rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include sm {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
