@import '../commons/common-css-rules.scss';

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .books-section {
    width: 100%;
    margin: 0 4rem 0.75rem 4rem;
    background: $color-white;
  }

  .add-book-section {
    background: transparent;
    width: 100%;
    margin: 1rem 4rem 0;
  }

  .horizontal-divide {
    height: 0.1rem;
    background-color: #e8e8e8;
    width: 100%;
    margin: 2.5rem 0 0;
  }

  @include sm {
    margin: 2rem 0;
  }

  @include lg {
    padding: 4rem;
    margin: 4rem;
  }
}
