@import '../commons/common-css-rules.scss';

.books-container {
  padding: 4% 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    grid-gap: 0.9rem;
    gap: 0.9rem;
  }
}
